<?xml version="1.0" encoding="EUC-KR"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="페퍼저축은행 간편 신용대출 한도조회 테스트" parallel="tests" thread-count="1">

    <test name="cucumber and testng">
        <parameter name="udid" value="ce11160ba49b0c2704"/>
        <parameter name="platformVersion" value="8"/>

        <classes>
            <class name="cucumber.tests.TestRunner"/>
        </classes>
    </test>

<!-- 2번째 장비는 나중에 추가하자 
    <test name="emulator-5556">
        <parameter name="udid" value="emulator-5556"/>
        <parameter name="platformVersion" value="9"/>
        <classes>
            <class name="cucumber.tests.TestRunner"/>
        </classes>
    </test>
-->

</suite>